html, body, #mount, #mount > div, main {
    margin: 0;
    padding: 0;
    height: 100%;
}

main {
    padding-top: 26px;
    box-sizing: border-box;
}

body {
    color: #949494;
}

* {
    outline: 0;
    font-family: 'Open Sans Condensed', sans-serif;
}

@keyframes loader {
    0%      {transform: rotate(0deg)}
    16.6%   {transform: rotate(60deg)}
    33.3%   {transform: rotate(120deg)}
    50%     {transform: rotate(180deg)}
    66.6%   {transform: rotate(240deg)}
    83.3%   {transform: rotate(300deg)}
    100%    {transform: rotate(360deg)}
}
